@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xxs:
    clamp(0.625rem, 1.2vw, 0.75rem),
    /* text-sm: min 14px, scales with viewport, max 16px */
    --text-xs: clamp(0.75rem, 1.2vw, 0.875rem),
    /* text-xs min:12px max:14px */ --text-sm: clamp(0.875rem, 1.2vw, 1rem),
    /* text-sm min:14px max:16px */ --text-base: clamp(1rem, 1.2vw, 1.125rem),
    /* text-base min:16px max:18px */ --text-lg: clamp(1.125rem, 1.2vw, 1.25rem),
    /*text-lg min:18px max:20px */ --text-xl: clamp(1.25rem, 2.5vw, 1.5rem),
    /* text-xl min:20px max:24px */ --text-2xl: clamp(1.5rem, 2.5vw, 1.875rem),
    /* text-2xl */ --text-3xl: clamp(1.875rem, 2.5vw, 2.25rem),
    /* text-3xl */ --text-4xl: clamp(2.25rem, 2.5vw, 3rem),
    /* text-4xl */ --text-5xl: clamp(3rem, 2.5vw, 3.75rem),
    /* text-5xl */ --text-6xl: clamp(3.75rem, 2.5vw, 4.5rem),
    /* text-6xl */ --text-7xl: clamp(4.5rem, 2.5vw, 6rem),
    /* text-7xl */ --text-8xl: clamp(6rem, 2.5vw, 7.5rem),
    /* text-8xl */ --text-9xl: clamp(7.5rem, 2.5vw, 9rem),
    /* text-9xl */ --text-10xl: clamp(9rem, 2.5vw, 10rem), /* text-10xl */;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.0971 0.0222 271.06);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.8667 0.1444 88.94);
  --accent-foreground: oklch(1 0 0 / 10%);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto);
    margin: 0;
    padding: 0;
  }

  h1.tangerine {
    font-family: var(--font-tangerine);
  }

  .underlined {
    position: relative;
    text-decoration: none;
    color: inherit; /* Inherit text color */
  }

  .underlined::after {
    content: "";
    position: absolute;
    height: 2px; /* Thickness of the underline */
    width: 0; /* Start with no width */
    bottom: 0; /* Position the underline at the bottom of the text */
    left: 0; /* Start from the left */
    background-color: var(
      --accent
    ); /* Match the underline color to the text color */
    transition: width 0.3s ease-in-out; /* Smooth animation */
  }

  .underlined:hover::after {
    width: 100%; /* Expand the underline to full width on hover */
  }

  .rounded-link {
    position: relative;
    text-decoration: none;
    color: currentColor; /* Inherit text color */
    display: inline-block;
    padding: 0.5rem 1rem; /* Add padding for the border */
    border: 2px solid currentColor; /* Full rounded border matching text color */
    border-radius: 9999px; /* Fully rounded corners */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  }

  .rounded-link:hover,
  .rounded-link-active {
    border: 2px solid var(--accent); /* Change border color on hover */
  }

  .responsive-icon {
    width: clamp(0.85rem, 5vw, 1.5rem);
    height: clamp(0.85rem, 5vw, 1.5rem);
    border: var(--foreground) solid 0.8px;
    padding: 2px;
    border-radius: 9999px; /* Fully rounded corners */
  }
}
